/.vscode
/awthemes-10.4.0
/downloads
/gifThumbs
/ignorethese
/OldVersions
/sounds
/thumbs
/tmp
/cachedpulls
/New folder
/demovids
cookies.json
test.mp4
youtube-dl.exe
testing.py
saved_vid.mp4
mpv-1.dll
__pycache__
